*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'open sans', sans-serif;
}

.wrapper{
    width: 2200px;
    margin: auto;
    position: relative;
    padding: 0%;
}

.logo a{
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #ffffff;
    padding-left: 50px;
}

.menu{
    float: right;
    flex: 2;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgb(216, 15, 15);
    z-index: 1;
    border-bottom: 1px solid #090a0c;

}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
}

nav ul li{
    float: left;
    
}

nav ul li a{
    color: rgb(245, 240, 240);
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #07090c;
}

.gambar{
    width: 50%;
    height: auto;
}

h2{
    font-family: 'comic sans ms';
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
    color: #0d0e0f;
    width: 100%;
    line-height: 50px;
}

a.tbl-satu{
    background-color: rgb(221, 221, 235);
    border-radius: 20px;
    margin: 20px;
    padding: 15px 20px 15px 20px;
    color: rgb(204, 14, 71);
    cursor: pointer;
    font-weight: bold;
}

a.tbl-satu:hover{
    background-color: #130e10 ;
    text-decoration: none;
}
a.tbl-dua{
    background-color: rgb(221, 221, 235);
    border-radius: 20px;
    margin: 20px;
    padding: 15px 20px 15px 20px;
    color: rgb(204, 14, 71);
    cursor: pointer;
    font-weight: bold;
}

a.tbl-dua:hover{
    background-color:rgb(9, 9, 15);
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.Team-List{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-Team{
    width: 20%;
    margin: 0 auto;
}

.kartu-Team img {
    width: 80%;
    border-radius: 50%;
}

.kartu-Team p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0d0e0f;
    height: auto;
}

.box-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 50px;
    justify-content: center;
    padding-top: 200px;

}
  
.box-contact .box {
    width: 200px;
    text-align: center;
    color: rgb(0, 0, 0);
}
  
.box-contact .box i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #747577;
}
  
.box-contact .box p {
    font-weight: 300px;
}

.chat {
    padding: 10px 0 100px 0;
}
  
.box-chat {
    color: rgb(10, 9, 9);
    text-align: center;
}
  
.box-chat h1 {
    margin-bottom: 20px;
}

.box-chat h3 {
    font-weight: 400;
    margin-bottom: 10px;
    animation: animasi;
    -webkit-animation: animasi 2s infinite;
}
  
  @keyframes animasi {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
    50% {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
}
  
.chat.box-chat button {
    border: none;
    min-width: 100px;
    min-height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    background-color: #b81010;
    color: white;
    padding-inline: 10px;
}
  
.chat.box-chat button i {
    font-size: 16px;
    font-weight: bold;
    margin-inline: 5px;
}
  
.box-developer {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    column-gap: 500px;
    align-items: center;
    background-color: #07090c;
    padding: 50px;
}
  
.box-developer .box {
    color: rgb(250, 243, 243);
    padding-left: 10px;
}
  
.box-developer .box:nth-child(2) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
  
.box-developer .box:nth-child(2) a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}
  
.box-developer .box p {
    font-weight: 200;
}
  
.box-developer .box:nth-child(1) p {
    font-size: 12px;
    line-height: 2;
    margin-top: 10px;
}
  
.box-developer .box:nth-child(3) {
    text-align: center;
}
  
.box-developer .box:nth-child(3) span {
    font-weight: bold;
}