<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401 Invalid credentials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <nav>
        <div class="logo"><a href=''>One Punch-Man. </a></div>
    </nav>
    <div class="card-body"><h1>401 - Invalid credentials</h1><br><br>
        <p>Oops! wrong username or wrong password :(</p><br><br>
        <a href="{{ url_for('login') }}">Go back to Login OPM</a>
    </div>
</body>
</html>
